.imagem {
    width: 400px;
    height: 500px;
    position: absolute; 
    left: 15%; 
    top: 22%; 
}
.text-container {
    width: 300px; 
    height: 350px;  
    border: 1px solid #ddedf6;
    border-radius: 10px;
    position: absolute; 
    left: 60%; 
    top: 30%; 
    font-size:17px ;
    padding: 10px; 
}

.about-me {
 color: #ddedf6;
 
}

@keyframes border-flash {
    0% { 
      box-shadow: 0 0 10px 5px #00609e; /* Brilho suave com sombra */
      outline: 1px solid #00609e; /* Contorno borrado */
    }
    50% { 
      box-shadow: 0 0 15px 6px #00609e; /* Brilho suave um pouco maior */
      outline: 3px solid #ffffff; /* Contorno sólido */
    }
    100% { 
      box-shadow: 0 0 10px 5px #00609e; /* Retorna ao brilho inicial */
      outline: px solid #00609e; /* Retorna ao contorno borrado */
    }
  }
  
  .piscante {
    animation: border-flash 2.6s infinite; /* Define a animação para piscar a borda */
    border-radius: 10px; /* Adiciona borda arredondada, se desejado */
    padding: 10px; /* Adiciona algum preenchimento para que a borda não "pule" */
  }
  
